.navigation {
    display: flex;
    flex-direction: column;
    width: 40px;
    padding: 20px 5px 20px 5px;
}

.navigation__item {
    padding: 8px 8px 0 8px;
    margin-bottom: 16px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navigation__image {
    width: 24px;
    height: 24px;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.posts {
    margin-top: 74px;
    display: flex;
    flex-direction: column;
    width: 474px;
}

.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.post__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.post__user-info {
    display: flex;
    align-items: center;
}

.post__avatar {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    margin-right: 10px;
}

.post__username {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Golos Text';
}

.post__edit {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.post__media {
    position: relative;
    max-width: 474px;
    max-height: 474px;
}

.post__media-img {
    width: 474px;
    height: 474px;
    object-fit: cover;
}

.post__media-count {
    position: absolute;
    right: 20px;
    top: 16px;
    width: 44px;
    height: 24px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(34, 34, 34, 0.5);
    font-size: 15px;
    line-height: 18px;
    font-family: 'Golos Text';
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.post__likes {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 16px 0;
    padding: 6px 12px;
    border-radius: 8px;
    height: 30px;
    width: 68px;
    background-color: rgba(34, 34, 34, 0.05);
}

.post__like-icon {
    margin-right: 10px;
}

.post__like-count{
    font-family: 'Golos Text';
}

.post__text {
    overflow: hidden;
    font-size: 15px;
    margin: 0;
    font-family: 'Golos Text';
}

.post__more {
    color: rgba(34, 34, 34, 0.5);
    cursor: pointer;
}

.post__time {
    font-size: 14px;
    font-family: 'Golos Text';
}

.slider {
    position: relative;
    max-width: 474px;
    max-height: 474px;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
}

.slider__controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.slider__button {
    pointer-events: auto;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    margin: 0 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.slider:hover .slider__button {
    opacity: 1;
}

.slider__button:hover {
    background: rgba(255, 255, 255, 0.6);
}

.slider__counter {
    position: absolute;
    right: 20px;
    top: 16px;
    width: 44px;
    height: 24px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(34, 34, 34, 0.5);
    font-size: 15px;
    line-height: 18px;
    font-family: 'Golos Text';
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.5);
  backdrop-filter: blur(19.1px);
  overflow: auto;
}

.modal__content {
  position: relative;
  margin: auto;
  width: 646px;
  height: 646px;
}

.modal__close {
    position: absolute;
    top: -42px;
    right: 0;
    left: 0;
    color: white;
    margin: 0 0 0 auto;
    width: 36px;
    height: 36px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 36px;
    text-align: center;
}

.modal__slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal-slides__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-slide {
  display: none;
  width: 646px;
  height: 646px;
  object-fit: cover;
}

.modal__button {
  width: 20px;
  height: 20px;
  opacity: 1;
  font-size: 10px;
}
.modal__counter {
    position: absolute;
    bottom: -24px;
    right: 0;
    left: 0;
    color: rgba(255, 255, 255, 1);
    margin: auto;
    height: 18px;
    font-size: 15px;
    letter-spacing: -0.15px;
    font-family: 'Golos Text';
    cursor: pointer;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 36px;
}