body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center; 
    background-color: white;
}

.login__entry {
    position: relative;
    margin-right: 100px;
}

.login__title {
    font-size: 140px;
    font-weight: 600;
    font-family: "Golos Text";
    position: absolute;
    margin: 0;
    top: -100px;
    left: -90px;
}

.login__image {
    display: block;
}

.login__form {
    display: flex;
    flex-direction: column;
    width: 345px;
    margin: auto;
}

.login__hint {
    margin: 0;
    color: rgba(128, 128, 128, 1);
}


.login__label {
    margin-bottom: 5px;
    color: #222222;
    font-size: 15px;
    font-family: "Golos Text";
    margin-top: 16px;
}

.login__input {
    width: 100%;
    height: 44px;
    border: 0;
    border-radius: 10px;
    background-color: #f2f3f5;
}

.login__form-hint {
    color: #808080;
    font-size: 13px;
    margin-top: 5px;
    font-family: "Golos Text";
}

.login__submit {
    width: 100%;
    height: 48px;
    margin: 32px auto 0;
    background-color: #222222;
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: "Golos Text";
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.login__info {
    width: 343px;
    flex-direction: column;
}

.login__error {
    overflow: hidden;
    background-color: rgba(255, 236, 236, 1);
    border-radius: 10px;
    padding: 0 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 0;
    transition: height 0.3s ease, padding 0.3s ease;
}

.login__error--active {
    height: 18px;
    padding: 12px;
}

.login__error__msg{
    margin-left: 6px;
    font-family: "Golos Text";
    font-size: 15px;
    color: rgba(116, 0, 0, 1);
}

.login__error-icon {
    width: 20px;
    height: 20px;
}

